@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,100&display=swap');

html {width: 1200px;
    height: 1000px;
    margin: auto;
    padding: 0px;
    border: 2px;
    background-image: linear-gradient(burlywood,rgb(236, 173, 91));
    font-family: 'Barlow', sans-serif;
    }

a {text-decoration: none;
    color: black}

h1 {font-size:24px;
    text-align:center;}
h2 {font-size: 18px;
    text-align:center;
    text-decoration: none;}
h3 {font-size:36px;
    text-align:center;}
p {font-size: 14px;
    text-align:left}



body {float: left;
    width: 250px;
    height: 700px;
    margin: 3px;}


header {float: left;
    width: 1120px;
    height: 120px;
    margin: 0px 0px 10px 30px;
    border: 2px;
    background-image: linear-gradient(rgb(245, 144, 119),rgb(205, 109, 92));}

.logo {float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid black;}
.banner {float: left;
    width: 750px;
    height: 100px;
    margin: 10px 10px 10px 20px;
    border: 2px; font-family: 'Ms Madi', cursive;}
.login {float: right;
    width: 75px;
    height: 50px;
    margin: 5px;
    font-size: 16px}


nav {float: left;
    width: 1100px;
    height: 60px;
    margin-left: 40px;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color:rgb(185, 161, 161)}

.menu {float: left;
    width: 155px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;}


main {float: left;
    width: 1075px;
    height: 500px;
    margin: 5px 0px 10px 50px;
    padding-top: 20px;
    border: 4px inset rgb(245, 220, 174);
    background-color:wheat}

.pesquisa {margin:10px;}
fieldset {float: left;
    width: 600px;
    height: 200px;
    border: 4px solid gray;
    margin-left:40px;}
input {margin: 10px 0px 10px 10px;}
input[type=search] {width: 500px;
    height: 30px;}
input[type=submit] {width: 50px;
    height: 30px;
    border: 1px solid white;;}


.pop {float: left;
    width: 900px;
    height: 225px;
    margin: 20px 20px 40px 80px;
    padding: 3px;
    border: 2px solid rgb(230, 148, 94);
    border-radius: 50px;
    background-color:rgb(253, 234, 197);
    font-size: 20px;}

.link {float: left;
    width: 400px;
    height: 100px;
    margin: 20px 10px 40px 60px;
    padding: 20px;
    border: 2px solid rgb(230, 148, 94);
    border-radius: 10px;
    background-color:rgb(253, 234, 197);
    font-size: 20px;}


footer {float: left;
    width: 1180px;
    height: 200px;
    margin-left: 0px;
    padding-left: 0px;
    border: 2px solid black;
    background-image: linear-gradient(rgb(236, 165, 95),peru)}

.foot {float: left;
    width: 285px;
    height: 160px;
    margin: 10px 3px 5px 3px;
    border: 2px;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;}
